:root{

    --primary:#2563EB;

    --success:#040d1a;

    --warning:#F59E0B;

    --background:#F3F6FA;

    --panel:#FFFFFF;

    --border:#E5EAF1;

    --text:#1F2937;

    --text-light:#6B7280;

}

*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{

    background: var(--background);
    color:var(--text);
    font-family:Segoe UI,Arial,sans-serif;

}

/***********************
HEADER
************************/

.top-header{

    height:75px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:15px 30px;

    background:white;

    border-bottom:1px solid #ddd;

}

header{
    background:#FAFBFC;
    border-bottom:1px solid #D9E2EC;
}

.header-title h1{
    font-size:32px;
}

.header-title span{
    color:#666;
}

.header-logos{
    display:flex;
    gap:20px;
}

.header-logos img{
    height:43px;
}

/**********************
LAYOUT
***********************/

.dashboard{
    display:grid;
    grid-template-columns:
        240px
        1fr
        360px;
    height:calc(100vh - 75px);
    background: var(--background);
}

/***********************
SIDEBAR
************************/

.sidebar{
    padding:10px;
}

.panel{
    background:var(--panel);
    border:1px solid var(--border);
    border-radius:14px;
    padding:15px;
    box-shadow:0 3px 12px rgba(15,23,42,.05);
    margin-bottom:10px;
    overflow:hidden;
}

.section{
    margin-top:10px;
}

.section h3{
    margin-bottom:10px;
}

.export-btn{
    margin-top:25px;
    width:100%;
    padding:12px;
    border:none;
    border-radius:6px;
    background:#1565c0;
    color:white;
    cursor:pointer;
}

/***********************
MAPAS
************************/

.maps-area{
    padding:12px;
    overflow:auto;
    background: var(--background);
}

.maps-grid{
    display:grid;
    gap:10px;
}

/**************

1 MAPA

**************/

.maps-grid.maps-1{
    grid-template-columns:1fr;
}

/**************

2 MAPAS

**************/

.maps-grid.maps-2{
    grid-template-columns:
    repeat(2,1fr);
}

/**************

3 MAPAS

**************/

.maps-grid.maps-3{
    grid-template-columns:
    repeat(2,1fr);
}

/**************

4 MAPAS

**************/

.maps-grid.maps-4{
    grid-template-columns:
    repeat(2,1fr);
}

.map-card{
    background:white;
    border-radius:8px;
    box-shadow:
    0 3px 12px rgba(0,0,0,.08);
    padding:5px;
    position:relative;
}



.map-title{
    text-align:center;
    font-size:18px;
    font-weight:700;
    margin-bottom:15px;
}

.map-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

/* ===============================
   1 MAPA
================================ */
.map-card.maps-1 .map-container{
    height:500px;
}

.map-card.maps-1 svg{
    width:100%;
}

/* ===============================
   2 MAPAS
================================ */

.map-card.maps-2 .map-container{
    height:300px;
}

.map-card.maps-2 svg{
    width:100%;
}

/* ===============================
   3 MAPAS
================================ */

.map-card.maps-3 .map-container{
    height:280px;
}

.map-card.maps-3 svg{
    width:100%;
}

/* ===============================
   4 MAPAS
================================ */

.map-card.maps-4 .map-container{
    height:280px;
}

.map-card.maps-4 svg{
    width:100%;
}

/**********************
RESULTADOS
***********************/

.results{
    padding:10px;
    background: var(--background);
}


/* ===========================
   TABLA DE MÉTRICAS
=========================== */

.results table{
    width:100%;
    border-collapse:collapse;
    font-size:12px;
}

.results td{
    padding:4px 6px;
    border-bottom:1px solid #e8e8e8;
    vertical-align:middle;
}

.results td:first-child{
    color:#444;
    font-weight:500;
}

.results td:last-child{
    text-align:right;
    font-weight:600;
}

/**********************

RESPONSIVE

***********************/

@media(max-width:1500px){
.dashboard{
grid-template-columns:
280px
1fr
320px;
}
}

@media(max-width:1200px){
.dashboard{
grid-template-columns:
1fr;
}

.sidebar{
order:1;
}

.maps-area{
order:2;
}

.results{
order:3;
}
}

.option-item{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:2px;
    cursor:pointer;
    font-size:14px;
}

.option-item input{
    margin:2px;
}

.tooltip{

    position:absolute;
    visibility:hidden;
    background:#1f2937;
    color:white;
    padding:8px 12px;
    border-radius:6px;
    font-size:13px;
    pointer-events:none;
    z-index:9999;
}

/* Parámetros */

#params-k,
#params-dbscan{
    display:flex;
    flex-direction:column;
}

#params-k label,
#params-dbscan label{
    gap:40px;
}

/* Etiqueta */
/* Contenedor de parámetros */

#params-k,
#params-dbscan{
    display:flex;
    flex-direction:column;
    gap:20px;
}

/* Cada fila */

.param-row{
    display:grid;
    grid-template-columns:80px 60px;
    align-items:center;
    column-gap:8px;
    font-size:14px;
}

/* Etiquetas */

.param-row span{
    font-weight:600;
    text-align:left;
}

/* Select */

#selectorK{
    width:50px;
    height:20px;
}

/* Inputs */
#params-dbscan input{
    width:60px;
    height:20px;
}

.color-panel{
    display:flex;
    flex-wrap:wrap;
    gap:7px 6px;
    margin-top:6px;
}

.color-panel label{
    display:flex;
    align-items:center;
    gap:3px;
    font-size:12px;
    font-weight:400;
}

.color-panel input[type="color"]{
    width:23px;
    height:24px;
    padding:0px;
    border:1px solid #bbb;
    cursor:pointer;
}

#sliderIntensidad{
    width:95px;
    height:5px;
    cursor:pointer;
}

.toggleIslasMapa{
  margin-top:15px;
    cursor:pointer;
    font-weight:700;
    font-size:15px;
}

.param-row{
    display:grid;
    grid-template-columns:25px 70px;
    align-items:center;
    gap:8px;
    margin-bottom:8px;
}

#clusterChartContainer{

    width:100%;
    height:290px;
    position:relative;

}

#chartClusters{
    width:100% !important;
    height:100% !important;
}

#municipioChartContainer{

    width:100%;
    height:220px;
    position:relative;

}

.cluster-title{
    margin-top:10px;
    margin-bottom:8px;
    font-size:14px;
    font-weight:700;
}

.cluster-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:3px 0;
    font-size:12px;
}

.cluster-left{
    display:flex;
    align-items:center;
    gap:6px;
}

.cluster-color{
    width:12px;
    height:12px;
    border-radius:2px;
    border:1px solid #999;
}

.cluster-right{
    text-align:right;
    font-weight:600;
}

button{
     background:var(--primary);
     color:white;
    border:none;
    border-radius:8px;
    transition:.2s;
}

button:hover{
    background:#1D4ED8;
    transform:translateY(-1px);
}

select{
    border:1px solid #CBD5E1;
}

.panel h3{
    color:var(--text);
    font-size:18px;
    font-weight:700;
    margin-bottom:12px;
}

.map-active{

    border:3px solid #1565c0;

    box-shadow:0 0 14px rgba(21,101,192,.35);

}